<!DOCTYPE html>
<html>
    <head>
            <meta charset="UTF-8"/>
            <link rel="stylesheet" href="/Users/alice/Desktop/template/css/nav.css" type="text/css"/>
    </head>
    <body>
        <div class="show-block">
        <div class="banner">
            <p class="banner-content">统计信息</p>
        </div>
        <div class="navgation">
            <div class="nav-btn">2012</div>
            <div class="nav-btn">2013</div>
            <div class="nav-btn">2014</div>
            <div class="nav-btn">2015</div>
            <div class="nav-btn">汇总统计</div>
        </div>

        <div class="item">
            <div class="item-btn">被告信息统计</div>
            <div class="item-btn">判刑统计</div>
            <div class="item-btn">被害伤情统计</div>
            <div class="item-btn">附带民事诉讼统计</div>
        </div>
    </div>
    </body>
</html>